datasets
faster-whisper
flask
Flask-OAuthlib
librosa
mutagen
numpy
openai-whisper
pydub
sortedcontainers
soundfile
torch
torchaudio
transformers
Werkzeug==2.2.2
feedparser
openai
python-dotenv
jiwer
pandas
peft
