datasets
faster-whisper
flask
Flask-OAuthlib
librosa
mutagen
numpy
openai-whisper
pydub
sortedcontainers
soundfile
torch
torchaudio
transformers
Werkzeug==2.2.2
feedparser
openai
python-dotenv
jiwer
pandas
peft
evaluate
yt_dlp
beautifulsoup4
openai
webvtt-py
scipy
tqdm
pydantic
pyodata
python-docx