backoff
datasets
faster-whisper<1.1.0
flask
Flask-OAuthlib
librosa
mutagen
numpy<2
openai-whisper
pydub
sortedcontainers
soundfile
torch
torchaudio
transformers
feedparser
openai
python-dotenv
jiwer
pandas
yt_dlp
beautifulsoup4
webvtt-py
scipy
tqdm
pydantic
pyodata
python-docx
nemo_toolkit[asr]
stable-ts