body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    margin-bottom: 30px;
}

#login-info {
    text-align: right;
}

#source-box, #episode-box, #segment-box, #readonly-textbox {
    width: 80%;
    margin: 5px 0;
    padding: 5px;
    font-size: 16px;
    text-align: right;
    direction: rtl;

    /* Remove or comment out the border and background properties */
    /* border: 1px solid #ddd; */
    /* background-color: #ffffff; */
}

#source-box strong {
    color: #1E90FF; /* Deep Blue */
}

#episode-box strong {
    color: #32CD32; /* Lime Green */
}

#segment-box strong {
    color: #AA336A; /* Dark Pink */
}

#readonly-textbox strong {
    color: #555555; /* Dark Grey */
}

#readwrite-textbox {
    width: 80%;
    text-align: right;
    direction: rtl;
    margin: 5px 0;
    margin-top: 40px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.added {
    color: green;
}

.deleted {
    color: red;
    text-decoration: line-through;
}

.extra-space {
    text-decoration: underline;
    text-decoration-color: green;
    color: green;
}

.missing-space {
    text-decoration: underline;
    text-decoration-color: red;
    color: red;
}

audio {
    width: 100%;
    max-width: 300px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 20px;
}

button {
    margin: 0px;
    padding: 10px 30px;
    font-size: 16px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.button-container {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    gap: 10px; /* Adds space between buttons */
}


#complexity-indicator {
    width: 50%;
    height: 20px;
    background: linear-gradient(to right, green 0%, red 100%);
    position: relative;
}

#complexity-arrow {
    position: absolute;
    top: 20px;
}

#complexity-arrow::before {
    content: '';
    display: block;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid black;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
}

#complexity-text {
    position: absolute;
    top: 30px; /* Positioned below the arrow */
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-header {
    width: 100%; /* Full width */
    padding: 20px; /* Adjust padding as needed */
    border-bottom: 1px solid #dedede; /* Thin line for the header */
    background-color: gray; /* Light gray background, adjust the color as needed */
    box-sizing: border-box; /* Ensures padding doesn't affect total width */
    color: white;
    direction: rtl;
}

.header-text {
    font-size: 16px;
    margin-left: 10px;
}

.modal-wrapper {
    width: 80%;
    margin: 10% auto;
    padding: 0px;
    border: 1px solid #888;
    background-color: #fefefe;
}

.modal-content {
    width: 100%;
    margin: 10% auto; /* Vertically center and horizontally center */
    padding: 0px;
    background-color: #fefefe;
    text-align: right; /* Align text to the right for RTL */
    font-size: 16px;
}

@media (min-width: 768px) {
    .modal-wrapper {
	width: 20%;
    }
}

.checkbox-group {
    display: flex;
    direction: rtl;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.checkbox-group label {
    margin-left: 10px; /* Space between checkbox and label */
}

/* The Close Button */
.skip-close {
    float: left; /* Aligns the button to the left */
    cursor: pointer;
    font-weight: bold;
    border: none;
    background: transparent;
    font-size: 16px; /* Adjust size as needed */
    margin-right: 10px; /* Optional: Adds some space between the button and the modal content */
}

.skip-close:hover,
.skip-close:focus {
    background-color: red;
    color: white;
    cursor: pointer;
}
