<!DOCTYPE html>
<html>
<head>
    <title>ivrit.ai leader board</title>
    <link rel="stylesheet" href="https://unpkg.com/matter-css/dist/matter.min.css">
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            text-align: left;
            padding: 8px;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <div class="matter">
        <h1>ivrit.ai leader board</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Email</th>
                    <th>Duration</th>
                    <th>Segments</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.rank }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.duration }}</td>
                    <td>{{ user.segments }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
