<!DOCTYPE html>
<html>

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_analytics_tag }}"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ google_analytics_tag }}');
    </script>

    <title>ivrit.ai login</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
        }

        .container {
            max-width: 600px;
            margin: auto;
            padding: 20px;
            direction: rtl;
            /* Right-to-left direction */
            text-align: center;
            /* Right align for RTL text */
        }

        .login-button {
            margin-top: 20px;
            text-align: center;

        }
    </style>
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
</head>

<body>
    <div class="container">
        <h1>תודה שבחרת לעזור במאמצי התמלול של פרויקט ivrit.ai!</h1>
        <p>למען שמירה על תמלול איכותי, נודה שתתחברו בעזרת חשבון גוגל.<br><br>
            רוצים לדעת עוד על הפרויקט? מוזמנים לקרוא עוד ב-<a href="https://ivrit.ai" target="_blank">ivrit.ai</a>.
        </p>
        <!-- Checkbox for Privacy and Terms agreement -->
        <label class="checkbox-label">
            <input type="checkbox" id="terms-checkbox">
            קראתי את <a href="https://www.ivrit.ai/en/privacy/" target="_blank">מסמך הפרטיות ותנאי השימוש</a>, ואני
            מאשר/ת אותו.<br>
            בנוסף, אני מאשר/ת ליצור איתי קשר בנושאים הקשורים לפרויקט.
        </label>
        <div class="login-button">
            <a href="{{ url_for('authorize') }}" id="login-link">
                <img src="https://developers.google.com/identity/images/btn_google_signin_dark_normal_web.png"
                    alt="Sign in with Google" />
            </a>
        </div>
    </div>

    <script>
        const checkbox = document.getElementById('terms-checkbox');
        const loginLink = document.getElementById('login-link');

        // Add an event listener to the login link
        loginLink.addEventListener('click', function (event) {
            if (!checkbox.checked) {
                event.preventDefault(); // Prevent the link from being followed
                alert('אנא אשר/י את תנאי השימוש.');
            }
        });
    </script>
</body>

</html>
