<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Comparison with Diff-Match-Patch</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/diff-match-patch/1.0.5/index.js"></script>
    <link rel="stylesheet" href="https://cdn.plyr.io/3.6.8/plyr.css">
    <script src="https://cdn.plyr.io/3.6.8/plyr.js"></script>
</head>

<body>
    <div id="container">
        <div id="login-info">
            <span dir="rtl">מחובר כ-<span id="username">{{ user_name }}</span>. <a href="/logout">התנתק</a></span>
            <div id="user-seconds-transcribed"></div>
            <div id="total-seconds-transcribed"></div>
        </div>

        <div id="source-box"></div>
        <div id="episode-box"></div>
        <div id="segment-box"></div>
        <div id="readonly-textbox" contenteditable="false"></div>
        <div id="complexity-indicator">
            <div id="complexity-arrow"></div>
            <span id="complexity-text"></span>
        </div>
        <audio id="custom-audio" controls>
        </audio>
        <textarea id="readwrite-textbox" rows="4"></textarea>

        <div id="guidelines">
            <a href="https://www.ivrit.ai/he/%D7%AA%D7%9E%D7%9C%D7%95%D7%9C-%D7%A9%D7%90%D7%9C%D7%95%D7%AA-%D7%95%D7%AA%D7%A9%D7%95%D7%91%D7%95%D7%AA/#%D7%9B%D7%9C%D7%9C%D7%99-%D7%94%D7%AA%D7%9E%D7%9C%D7%95%D7%9C"
                target="_blank">כללי תמלול</a>
        </div>

        <div class="button-container">
            <button id="skip-button" class="button">לא הצלחתי</button>
            <button id="submit-button" class="button">הגשה</button>
        </div>


        <div id="skipModal" class="modal">
            <div class="modal-wrapper">
                <div class="modal-header">
                    <span class="skip-close">&times;</span>
                    <span class="header-text">מה הסיבה שלא הצלחת?</span>
                </div>
                <div class="modal-content">
                    <form id="skipForm">
                        <div class="checkbox-group">
                            <label><input type="checkbox" id="unintelligible">לא מובן</label><br>
                        </div>
                        <div class="checkbox-group">
                            <label><input type="checkbox" id="foreign-language">לא עברית</label><br>
                        </div>
                        <div class="checkbox-group">
                            <label><input type="checkbox" id="multiple-speakers">ריבוי דוברים</label><br>
                        </div>
                        <div class="checkbox-group">
                            <label><input type="checkbox" id="noisy">רועש</label><br>
                        </div>
                        <div class="checkbox-group">
                            <label><input type="checkbox" id="too-long">ארוך מדי</label><br>
                        </div>
                        <div class="button-container">
                            <button type="button" id="skipSubmit">הגשה</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        const userSecondsTranscribedBox = document.getElementById('user-seconds-transcribed');
        const totalSecondsTranscribedBox = document.getElementById('total-seconds-transcribed');
        const audioPlayer = document.getElementById('custom-audio');
        const readwriteTextbox = document.getElementById('readwrite-textbox');
        const readonlyTextbox = document.getElementById('readonly-textbox');
        const sourceBox = document.getElementById('source-box');
        const episodeBox = document.getElementById('episode-box');
        const segmentBox = document.getElementById('segment-box');
        const submitButton = document.getElementById('submit-button');

        const unintelligibleCheckbox = document.getElementById('unintelligible');
        const foreignLanguageCheckbox = document.getElementById('foreign-language');
        const multipleSpeakersCheckbox = document.getElementById('multiple-speakers');
        const noisyCheckbox = document.getElementById('noisy');
        const tooLongCheckbox = document.getElementById('too-long');

        let originalSentence = '';
        let segmentUUID = '';
        let segmentDuration = 0.0;
        let segmentMaxLogprob = 0.0;
        let segmentFullyPlayed = false;

        let contentQueue = [];

        let statsNumPlayClicked = 0;


        function formatTime(seconds) {
            minutes = Math.floor(seconds / 60);
            seconds = Math.floor(seconds % 60);

            return `${minutes}:${seconds < 10 ? '0' + seconds : seconds}`;
        }

        function fetchContent(prefetch) {
            // Make an API request to the server to get the text and audio data
            fetch(`/api/getContent`)
                .then((response) => response.json())
                .then((data) => {
                    if (prefetch) {
                        contentQueue.push(data);
                    } else {
                        updateContentWithData(data);
                    }
                })
                .catch((error) => {
                    if (!prefetch) {
                        console.error('Error fetching content:', error);
                        sourceBox.textContent = 'Error: אנא נסו מאוחר יותר';
                        episodeBox.textContent = '';
                        segmentBox.textContent = '';
                        readonlyTextbox.textContent = '';
                        readwriteTextbox.value = '';
                    }
                });
        }

        function updateContent(previousDuration) {
            if (contentQueue.length > 0) {
                data = contentQueue.shift();

                // For cached data, adjust transcribed seconds per last segment submitted.
                // This can cause local inaccuracies, but any mistake here will be fixed by the server on the next fetch.
                data.user_seconds_transcribed += previousDuration;
                data.total_seconds_transcribed += previousDuration;
                updateContentWithData(data);
            } else {
                fetchContent(false /* prefetch */ );
            }

            // Repopulate the content queue
            if (contentQueue.length == 0) {
                fetchContent(true /* prefetch */ );
            }
        }

        function updateContentWithData(data) {
            segmentUUID = data.uuid;
            segmentDuration = data.duration;
            segmentMaxLogprob = data.max_logprob;

            segmentFullyPlayed = false;
            statsNumPlayClicked = 0;

            userSecondsTranscribedBox.innerHTML = `דקות שתומללו על ידך: ` + formatTime(data.user_seconds_transcribed);

            totalSecondsTranscribedBox.innerHTML = `דקות שתומללו בסה"כ: ` + formatTime(data.total_seconds_transcribed);

            // Update the audio source, text content, source, and episode
            audioPlayer.src = `data:audio/mpeg;base64,${data.audioData}`;
            audioPlayer.load();
            readwriteTextbox.value = data.text;
            sourceBox.innerHTML = `<strong>מקור: </strong> ` + data.source;
            episodeBox.innerHTML = `<strong>פרק: </strong> ` + data.episode;
            segmentBox.innerHTML = `<strong>מקטע: </strong> ` + data.segment;

            // Update the original sentence
            originalSentence = data.text;

            // Update the readonly textbox with text comparison
            updateReadonlyTextbox();

            unintelligibleCheckbox.checked = false;
            foreignLanguageCheckbox.checked = false;
            multipleSpeakersCheckbox.checked = false;
            noisyCheckbox.checked = false;
            tooLongCheckbox.checked = false;

            updateComplexity(data.complexity.toFixed(1));
        }

        function updateComplexity(value) {
            const complexityScale = 10;
            const indicatorWidth = document.getElementById('complexity-indicator').offsetWidth;
            const position = (value / complexityScale) * indicatorWidth;
            const arrow = document.getElementById('complexity-arrow');
            const text = document.getElementById('complexity-text');

            arrow.style.left = position + 'px';
            text.textContent = value;
            text.style.left = position + 'px'; // Align text with the arrow
        }

        // Event listener for the write box
        readwriteTextbox.addEventListener('input', function () {
            // Update the readonly textbox as you type in the write box
            updateReadonlyTextbox();
        });

        submitButton.addEventListener('click', function () {
            if (!segmentFullyPlayed) {
                alert("לא האזנת לכל הקטע.");
                return;
            }

            submitCore(false /* skipped */ );
        });

        function submitCore(skipped) {
            // Get the final text from the write/read box
            const payload = {
                text: readwriteTextbox.value,
                duration: segmentDuration,
                skipped: skipped,
                unintelligible: unintelligibleCheckbox.checked,
                foreign_language: foreignLanguageCheckbox.checked,
                multiple_speakers: multipleSpeakersCheckbox.checked,
                noisy: noisyCheckbox.checked,
                too_long: tooLongCheckbox.checked,
                orig_text: originalSentence,
                max_logprob: segmentMaxLogprob
            }

            const finalText = readwriteTextbox.value;

            // Create a JSON object with UUID and final text
            const resultData = {
                uuid: segmentUUID,
                payload: payload
            };

            // Send the result data to the server
            fetch(`/api/submitResult`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(resultData)
            });

            transcribedDuration = skipped ? 0.0 : segmentDuration;
            updateContent(transcribedDuration);
        }

        function updateReadonlyTextbox() {
            const modifiedText = readwriteTextbox.value;
            const dmp = new diff_match_patch();
            const diffs = dmp.diff_main(originalSentence, modifiedText);
            dmp.diff_cleanupSemantic(diffs);
            const html = diffs.map(([op, text]) => {
                if (op === 0) {
                    return text; // No difference
                } else if (op === 1) {
                    // Check if it's a space character
                    if (text.trim() === '') {
                        return `<span class="added extra-space">${text}</span>`; // Added space (green with underline)
                    } else {
                        return `<span class="added">${text}</span>`; // Added text (green)
                    }
                } else {
                    // Check if it's a space character
                    if (text.trim() === '') {
                        return `<span class="deleted missing-space">${text}</span>`; // Missing space (red with underline)
                    } else {
                        return `<span class="deleted">${text}</span>`; // Deleted text (red)
                    }
                }
            }).join('');

            readonlyTextbox.innerHTML = `<strong>תמלול ראשוני: </strong>` + html;
        }

        // Configure the skip model
        var skipModal = document.getElementById("skipModal");
        var skipButton = document.getElementById("skip-button");
        var skipSpan = document.getElementsByClassName("skip-close")[0];

        // When the user clicks the button, open the modal 
        skipButton.onclick = function () {
            if (statsNumPlayClicked == 0) {
                alert("לא האזנת לקטע.");
                return;
            }

            skipModal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        skipSpan.onclick = function () {
            skipModal.style.display = "none";
        }

        window.onclick = function (event) {
            if (event.target == modal) {
                skipModal.style.display = "none";
            }
        }

        // Handle modal form submission
        document.getElementById("skipSubmit").onclick = function () {
            // Close the modal
            skipModal.style.display = "none";

            submitCore(true /* skipped */ );
        }

        document.addEventListener('DOMContentLoaded', function () {
            // Initialize Plyr.js
            const player = new Plyr(audioPlayer, {
                controls: ['play', 'progress', 'current-time', 'mute', 'volume', 'settings'],
                speed: {
                    selected: 1,
                    options: [0.5, 1],
                },
            });

            // Event listener to detect when the play button is pressed
            player.on('play', function () {
                statsNumPlayClicked++;
            });
        });

        audioPlayer.addEventListener('ended', function () {
            segmentFullyPlayed = true;
        });


        updateContent(0.0 /* previousDuration */ ); // Initialize with the first text and mp3 file
    </script>
    <div style="text-align: center; margin-top: 5px;">
        developed with Yarden Lifshitz for ivrit.ai
        <div>
</body>

</html>