<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Comparison with Diff-Match-Patch</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/diff-match-patch/1.0.5/index.js"></script>
</head>
<body>
    <div id="container">
        <div id="login-info">
       	  <span dir="rtl">מחובר כ-<span id="username">{{ user_name }}</span>. <a href="/logout">התנתק</a></span>
	  <div id="seconds-transcribed">
	    דקות שתומללו: 5
	  </div>
    	</div>

        <audio controls id="audioPlayer">
            <!-- Initially, no source is set -->
        </audio>
        <div id="source-box">
	  <strong>מקור:</strong>
	</div>
        <div id="episode-box">
	  <strong>פרק:</strong>
	</div>
        <div id="readonly-textbox" contenteditable="false">
	  <strong>תמלול ראשוני:</strong>
	</div>
	<div id="complexity-indicator">
	    <div id="complexity-arrow">
	    </div>
            <span id="complexity-text">8</span>
	</div>
        <textarea id="readwrite-textbox" rows="4"></textarea>

	<div class="button-container">
	    <button id="skipButton" class="button">דילוג</button>
	    <button id="submitButton" class="button">הגשה</button>
	</div>

        <div id="skipModal" class="modal">
	  <div class="modal-wrapper">
	    <div class="modal-header">
	      <span class="skip-close">&times;</span>
	      <span class="header-text">מה הסיבה לדילוג?</span>
	    </div>
	      <div class="modal-content">
              <form id="skipForm">
		  <div class="checkbox-group">
                    <label><input type="checkbox" id="unintelligible">לא מובן</label><br>
		  </div>
		  <div class="checkbox-group">
                    <label><input type="checkbox" id="foreign-language">לא עברית</label><br>
		  </div>
		  <div class="checkbox-group">
                    <label><input type="checkbox" id="multiple-speakers">ריבוי דוברים</label><br>
		  </div>
		  <div class="checkbox-group">
                    <label><input type="checkbox" id="noisy">רועש</label><br>
		  </div>
		  <div class="checkbox-group">
		    <label><input type="checkbox" id="too-long">ארוך מדי</label><br>
		  </div>
		  <div class="button-container">
		    <button type="button" id="skipSubmit">הגשה</button>
		  </div>
                </form>
            </div>
          </div>
	</div>
    </div>
    
    <script>
        const secondsTranscribedBox = document.getElementById('seconds-transcribed');
        const audioPlayer = document.getElementById('audioPlayer');
        const readwriteTextbox = document.getElementById('readwrite-textbox');
        const readonlyTextbox = document.getElementById('readonly-textbox');
        const sourceBox = document.getElementById('source-box');
        const episodeBox = document.getElementById('episode-box');
        const submitButton = document.getElementById('submitButton');

        const unintelligibleCheckbox = document.getElementById('unintelligible');
        const foreignLanguageCheckbox = document.getElementById('foreign-language');
        const multipleSpeakersCheckbox = document.getElementById('multiple-speakers');
        const noisyCheckbox = document.getElementById('noisy');
        const tooLongCheckbox = document.getElementById('too-long');

        let originalSentence = '';
        let segmentUUID = '';
        let segmentDuration = 0.0;
      
        function updateContent() {
            // Make an API request to the server to get the text and audio data
            fetch(`/api/getContent`)
                .then((response) => response.json())
                .then((data) => {
                    segmentUUID = data.uuid;
		    segmentDuration = data.duration;

		    secondsTranscribedBox.innerHTML = `דקות שתומללו: ` + (data.seconds_transcribed / 60).toFixed(2);
		    
                    // Update the audio source, text content, source, and episode
                    audioPlayer.src = `data:audio/mpeg;base64,${data.audioData}`;
                    audioPlayer.load();
                    readwriteTextbox.value = data.text;
                    sourceBox.innerHTML = `<strong>מקור: </strong> ` + data.source;
                    episodeBox.innerHTML = `<strong>פרק: </strong> ` + data.episode;
                    // Update the original sentence
                    originalSentence = data.text;

                    // Update the readonly textbox with text comparison
                    updateReadonlyTextbox();

                    unintelligibleCheckbox.checked = false;
                    foreignLanguageCheckbox.checked = false;
                    multipleSpeakersCheckbox.checked = false;
                    noisyCheckbox.checked = false;
		    tooLongCheckbox.checked = false;

		    updateComplexity(data.complexity.toFixed(1));
                })
                .catch((error) => {
                    console.error('Error fetching content:', error);
                    // If there's an error, display a message
                    sourceBox.textContent = 'Error: אנא נסו מאוחר יותר';
                    episodeBox.textContent = '';
                    readonlyTextbox.textContent = '';
                    readwriteTextbox.value = '';
                });
        }

	function updateComplexity(value) {
	    const complexityScale = 10;
	    const indicatorWidth = document.getElementById('complexity-indicator').offsetWidth;
	    const position = (value / complexityScale) * indicatorWidth;
	    const arrow = document.getElementById('complexity-arrow');
	    const text = document.getElementById('complexity-text');
    
	    arrow.style.left = position + 'px';
	    text.textContent = value;
	    text.style.left = position + 'px'; // Align text with the arrow
	}

        // Event listener for the write box
        readwriteTextbox.addEventListener('input', function () {
            // Update the readonly textbox as you type in the write box
            updateReadonlyTextbox();
        });

        submitButton.addEventListener('click', function () {
	    submitCore(false /* skipped */);
	});

        function submitCore(skipped) {
            // Get the final text from the write/read box
            const payload = {
                text : readwriteTextbox.value,
		duration : segmentDuration,
		skipped : skipped,
                unintelligible : unintelligibleCheckbox.checked,
                foreign_language : foreignLanguageCheckbox.checked,
                multiple_speakers : multipleSpeakersCheckbox.checked,
                noisy : noisyCheckbox.checked,
		too_long : tooLongCheckbox.checked
            }

            const finalText = readwriteTextbox.value;

            // Create a JSON object with UUID and final text
            const resultData = {
                uuid: segmentUUID,
                payload: payload
            };

	    updateContent();
	    
            // Send the result data to the server
            fetch(`/api/submitResult`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(resultData)
            })
                .then((response) => response.json())
                .then((data) => {
                    // Update contents for next set to be transcribed
                    updateContent();
                })
                .catch((error) => {
                    console.error('Error submitting result:', error);
                    // Handle the error if needed
                });
        }

        function updateReadonlyTextbox() {
            const modifiedText = readwriteTextbox.value;
            const dmp = new diff_match_patch();
            const diffs = dmp.diff_main(originalSentence, modifiedText);
            dmp.diff_cleanupSemantic(diffs);
            const html = diffs.map(([op, text]) => {
                if (op === 0) {
                    return text; // No difference
                } else if (op === 1) {
                    // Check if it's a space character
                    if (text.trim() === '') {
                        return `<span class="added extra-space">${text}</span>`; // Added space (green with underline)
                    } else {
                        return `<span class="added">${text}</span>`; // Added text (green)
                    }
                } else {
                    // Check if it's a space character
                    if (text.trim() === '') {
                        return `<span class="deleted missing-space">${text}</span>`; // Missing space (red with underline)
                    } else {
                        return `<span class="deleted">${text}</span>`; // Deleted text (red)
                    }
                }
            }).join('');

            readonlyTextbox.innerHTML = `<strong>תמלול ראשוני: </strong>` + html;
        }

        // Configure the skip model
        var skipModal = document.getElementById("skipModal");
        var skipButton = document.getElementById("skipButton");
        var skipSpan = document.getElementsByClassName("skip-close")[0];

        // When the user clicks the button, open the modal 
        skipButton.onclick = function() {
	    skipModal.style.display = "block";
	}
      
        // When the user clicks on <span> (x), close the modal
        skipSpan.onclick = function() {
	    skipModal.style.display = "none";
	}

        window.onclick = function(event) {
	    if (event.target == modal) {
		skipModal.style.display = "none";
	    }
	}

        // Handle modal form submission
        document.getElementById("skipSubmit").onclick = function() {
	    // Close the modal
	    skipModal.style.display = "none";
	    
	    submitCore(true /* skipped */);
	}

      
        updateContent(); // Initialize with the first text and mp3 file
    </script>
    <div style="text-align: center; margin-top: 5px;">
        developed with Yarden Lifshitz for ivrit.ai
    <div>
</body>
</html>

